@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: roboto;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container_box{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#navicon {
    font-size: 7px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    opacity: 0;
}
.navbar{
    height: 100%;
    background-color: white;
    flex: 1; 
    position: relative;
}
.navbar a{
    text-decoration: none;
}
.display{
    height: 100vh;
    flex: 6;
    position: relative;
    overflow-y: auto;
    background-color: rgb(245, 241, 241); 

}
.home{
    width: 100%;
    height: 100vh;
    background-image:url('./images/img2.jpg');
    background-size: 100% 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
.navbar .name{
    width:100;
    height:20%;
    background-color: #fafafa;
    text-align: left;
    font-family: roboto;
    cursor: pointer;
    
}
.navbar h2{
    padding-top: 30px;
    text-align: center;
    font-size: 31.5px;
    color: #008043;

}
.navbar h3{
    text-align: center;
    color: #795548;
    font-size: small;
}
.nav_option a{
    text-decoration: none;
    font-size: 15px;
    color:#333333;
    cursor: pointer;
    display: flex;
    height: 42px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
 .fas{
     text-align: left;
     padding:0 15px 0 10px;
     font-size: 20px;
     height: 32px;
     width: 50px;
 }
 .heading{
     font-size: 30px;
     font-weight: 300;
     padding: 50px;
     color: #ffffff;
     text-transform: capitalize;
 }
 .arpit{
     background-color:#008073;
 }
 .line{
    text-decoration: underline #008043 ;
 }
 .about:hover{
    background-color:#fafafa;
    border-left: 5px solid #008073;

 }
 .Academics:hover{
    background-color:#fafafa;
    border-left: 5px solid #ff9800;
 }
 .Projects:hover{
    background-color:#fafafa;
    border-left: 5px solid #3F51B5;
 }
 .Skills:hover{
    background-color:#fafafa;
    border-left: 5px solid #9c27B0;
 }
 .Certificates:hover{
    background-color:#fafafa;
    border-left: 5px solid #f44336;
 }
 .Resume:hover{
    background-color:#fafafa;
    border-left: 5px solid #424242;
 }
 .Contact:hover{
    background-color:#fafafa;
    border-left: 5px solid #795548;
 }
 .About{
     background-color: #1f754c;
     text-transform: uppercase;
     width: 100%;
     height: 90px;
     padding: 30px 20px 40px 20px;
     font-size: 30px;
     color: white;
     font-weight: 200;
 }
 .photo_section{
     margin: 0;
     padding: 0;
     height: 100vh;
     display: flex;
     position: relative;
     /* flex-direction: row; */
     justify-content: space-around;
     text-align: center;
     align-items: center;
 }
 .profile_card{
     position: relative;
     width: 250px;
     height: 400px;
     background: url(./images/arpit_img.jpg);
     box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
     background-size: 100% 100%;
     border-radius: 10px;
     transition: 0.6s;
 }
 .content_box{
     width: 300px;
     height: 180px;
     background: #03a9f48f;
     position: absolute;
     right:-100px;
     top: 100px;
     border-radius: 10px;
     text-align: center;
     opacity: 0;
     transform: scaleX(0);
     transition: 0.6s;
 }
 .content{
    font-family: 'Ubuntu', sans-serif;
     color: #ffffff;
     font-weight: 900;
     z-index: 2;
 }
 .social a{
     font-size: 25px;
     color: #ffffff;
     transition: 0.5s;
     margin: 15px;
 }
 .social a:hover{
     transform: scale(1.5) rotate(30deg);
 }
 .content_box{
     width: 300px;
     height: 180px;
     background: #03a9f48f;
     position: absolute;
     right:-100px;
     top: 100px;
     border-radius: 10px;
     text-align: center;
     opacity: 0;
     transform: scaleX(0);
     transition: 0.6s;
 }
 .content{
    font-family: 'Ubuntu', sans-serif;
     color: #ffffff;
     font-weight: 900;
     z-index: 2;
 }
 .social a{
     font-size: 25px;
     color: #ffffff;
     transition: 0.5s;
     margin: 15px;
 }
 .social a:hover{
     transform: scale(1.5) rotate(30deg);
 }
 .content_box{
     width: 300px;
     height: 180px;
     background: #03a9f48f;
     position: absolute;
     right:-100px;
     top: 100px;
     border-radius: 10px;
     text-align: center;
     opacity: 0;
     transform: scaleX(0);
     transition: 0.6s;
 }
 .content{
    font-family: 'Ubuntu', sans-serif;
     color: #ffffff;
     font-weight: 900;
     z-index: 2;
 }
 .social a{
     font-size: 25px;
     color: #ffffff;
     transition: 0.5s;
     margin: 15px;
 }
 .social a:hover{
     transform: scale(1.5) rotate(30deg);
 }
 .content_box{
     width: 300px;
     height: 180px;
     background: #03a9f48f;
     position: absolute;
     right:-100px;
     top: 100px;
     border-radius: 10px;
     text-align: center;
     opacity: 0;
     transform: scaleX(0);
     transition: 0.6s;
 }
 .content{
    font-family: 'Ubuntu', sans-serif;
     color: #ffffff;
     font-weight: 900;
     z-index: 2;
 }
 .social a{
     font-size: 25px;
     color: #ffffff;
     transition: 0.5s;
     margin: 15px;
 }
 .social a:hover{
     transform: scale(1.5) rotate(30deg);
 }
 .content_box{
     width: 300px;
     height: 180px;
     background: #03a9f48f;
     position: absolute;
     right:-100px;
     top: 100px;
     border-radius: 10px;
     text-align: center;
     opacity: 0;
     transform: scaleX(0);
     transition: 0.6s;
 }
 .content{
    font-family: 'Ubuntu', sans-serif;
     color: #ffffff;
     font-weight: 900;
     z-index: 2;
 }
 .social a{
     font-size: 25px;
     color: #ffffff;
     transition: 0.5s;
     margin: 15px;
 }
 .social a:hover{
     transform: scale(1.5) rotate(30deg);
 }
 .cont{
     margin-top: 30px;
     position: relative;
 }
 .cont a{
     background: #ffffff;
     color: #03A9F4;
     width: 30px;
     height: 30px;
     padding: 10px;
     margin-top: 10px;
     border-radius: 50px;
     font-size: 10px;
     transition: 0.6s;
 }
 .cont a:hover{
     width: 60px;
     padding-left: 25px;

 }
 .profile_card:hover{
     box-shadow: 1px 20px 30px rgba(0,0,0,0.5)
 }
 .profile_card:hover .content_box{
     opacity: 1;
     transform: scaleX(1);
 }
 .profile_card:hover .social a{
     margin-top: 30px;
 }
 .detail{
     width: 70%;
    
 }
 .discription{
     font-size: 20px;
     padding: 15px;
     margin-left: 110px;
     text-transform: capitalize;
     text-align: left;
     border-left: 5px solid #795548;
     color:  #795548;
 }
 .discription2{
     margin: 30px 0 0 0;
     text-align: left;
     margin-left: 110px;
     font-weight: 100;
     font-size: 20px;
     color: #333333;
 }
 /* adacdemic css */
 .academic{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }
 .gradution1{
    height: 100px;
    width :300Px;
    background-color:#ffffff;
    margin-top: 30px;
    border-radius: 2rem; 
    margin-bottom: 30px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    align-items: center;
    font-weight: 200;
    overflow: hidden;
    transition: height,2s;
}
.gradution1:hover{
    height: 300px;
}
.gradution1>header {
    padding-top: 30px;
    text-align: center;
}
/* certificate section styling */
.section5{
    background-color: white;
    margin-top: 30px;
}
.academics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
}
.academics .certificate_details{
    /* position: absolute; */
     width: 20rem;
     height: 20rem;
     margin-top: 30px;
     border-radius: 4px; 
     display: flex;
      border: 1px solid rgba(0, 0, 0, 0.1);
     justify-content: space-around;
     align-items: center;
}
.certificate_details:hover{
    transform: translateY(-6px);
}
.academics .certificate_details{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px;
}
.academics .certificate_details h1{
    font-family: 'Lobster Two', cursive;
    color: #008043;
    text-shadow: 12px 12px 5px rgba(0,0,0,0.3);
}
 header a{
    text-decoration: none;
    color: #008073;
    font-weight: 300;
 }
 header h4{
    color: #795548;
    font-weight: 400;
    font-size: 15px;
 }
 .details{
     text-align: left;
     padding:20px;
 }
 #list{
     text-align: left;
 }
 /* section4 styling */
 .skill_type{
     min-height:100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
 }
 .languages{
     width: 80vw;
     background-color:white;
     box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);    
 }
 .one{
     display: flex;
     align-items: center;
     text-align: center;
     margin: 8px 20px;
 }
 .same{
     color: #795548;
     text-transform: uppercase;
     font-weight: 200;
     padding: 1rem;
 }
 ul{
     list-style-type: none;
 }
 li{
     float: left;
     display: block;
     margin: 14px 0 0 14px; 
 }
ul li img{
    height: 60px; 
}
/* section3 styling start */
.section3{
    background-color: white;
    /* width: 100%;*/
    height: auto; 
    margin-top: 10px;
}
.project{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: #ffffff;
}
.project .project_details{
     width: 350px;
     height: 200px;
     margin: 30px 5px 10px;
     border-radius: 6px;  
     align-items: center;
     display: flex;
     justify-content: space-around;
     align-items: center;
     border: 1px solid rgba(0, 0, 0, 0.1);
}
 .project_details:hover{
    transform: translatey(-6px);
    box-shadow: 12px, 12px 10px 10px rgba(0, 0, 0, 0.1);
}
.project .project_details h1{
    font-family: 'Lobster Two', cursive;
    color:#008043;
    text-shadow: 12px 12px 5px rgba(0,0,0,0.3); 
}
 /* contct section styling start */
.contact_last{
 display: flex;
 justify-content: start;
 flex-direction: row;

}
.contact_last img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 657px) {
    .navbar{
        max-width: 0px;
    }
    .About{
        background-color: #1f754c;
        text-transform: uppercase;
        width: 100vw;
       max-height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: white;
        font-weight: 200;
    }
    .photo_section{
        margin: 0;
        padding: 0;
        height: 90vh;
        width: 100vw;
        display: flex;
        position: relative;
        flex-direction: column; 
        overflow: hidden;
    }
    .profile_card {
        position: relative;
        width: 200px;
        height: 400px;
        background: url(./images/arpit_img.jpg);
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
        background-size: 100% 100%;
        border-radius: 10px;
        transition: 0.6s;
        margin-top: 10px;
    }
    .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        width: 100vh;
        margin-bottom: 10px;
    }
    .content_box{
        visibility: hidden;
    }
    .detail .discription {
        font-size: 15px;
        margin: 0px;
        /* margin-left: 0px; */
        text-transform: capitalize;
        text-align: left;
        margin-top: 10px;
        width: 100vw;
        border-left: 3px solid;
    }
    .detail .discription2{
        font-size: 15px;
        margin-left:0px;
        display: inline;
        max-width: 100vw;
    }
    .project{
     width: 100vw;
    }
    .project_details{
        margin: 5px 10px 5px;
        width: 100vw !important;
    }
    .academics{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        width: 100vw;
        margin: 5px 5px;
         overflow: hidden;
    }
    .academics .certificate_details{
         width: 90vw;
         height: 100px;
         border-radius: 5px;  
         display: flex;
         align-items: center;
         justify-content: center;
         overflow: hidden;
         color: #ffffff;
         margin: 5px 5px;
         box-shadow: none;
         border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .languages{
        margin: 10px 10px;
       min-width: 95vw;
        border-radius: 5px;
        border: 1px solid rgba(0, 0,0, 0.1);
        box-shadow:none;
    }
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home>.heading{
        text-align: left;
        font-size: 20px;
        font-weight: 900;
        font-family: 'Poppins', sans-serif !important;
    }
    .content_box{
        width: 200px;
        height: 400px;
        background: #03a9f48f;
        position: absolute;
        right:0px;
        top: 0px;
        border-radius: 10px;
        text-align: center;
        opacity: 0;
        transform: scaleX(0);
        transition: 0.6s;
    }
    .section1{
        min-height: 100vh;
    }
    #navicon{
    opacity: 1;
    }
}

